extends layout

block content

  .body-size
      section#top
        // Navigation
        nav.navbar.navbar-default.navbar-fixed-top
          .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header.page-scroll
              img.avatar(src='img/me-avatar.svg')
              button.navbar-toggle.navme(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#page-top')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.hidden
                  a(href='#page-top')
                li.page-scroll
                  a(href='#hello', style='margin-top: 30px; padding-right: 20px') About
                li.page-scroll
                  a(href='portfolio', style='margin-top: 30px; padding-right: 20px') Portfolio
                li.page-scroll(style='margin-top: 30px; padding-right: 20px')
                  a(href='#i-can-help') Contact
            // /.navbar-collapse
          // /.container-fluid
        // Header
      header.header
        .masthead
          .container
            .row.text-center
                h1  Angelika Gaszczyk 
                h2.no-margin
                  | web designer
            .masthead-wrap
              .container
                .row.text-center
                  .col-sm-12
                    img.main-img(src='img/main.svg')
      // say hi!              
    section#hello
      .container
        .row
          .col-sm-6.col-sm-offset-3.text-center
            .bg-me
        .row.text-center
          h4.hi Hi, I'm Angie!
        .row
          .col-sm-6.col-sm-offset-3.text-center
            p
              | I'm a web designer in San Francisco, California.
              | I am passionate about design and love to create for web
              | and mobile.
      // what I do 
    section#what-i-do
      .container.p-bot
        .row.text-center
            h3.padding-what What I do
      .container.p-bot
        .row
          .col-sm-6.col-sm-offset-1
            img.img.img-responsive(src='img/designScreen.svg')
          .col-sm-4
            h4.padding Design what you want.
            p.padding-p
              | My goals are to create a consistent design language to convey the key message. 
      .container.p-top.p-bot
        .row
          .col-sm-6.col-sm-push-5
            img.img.img-responsive(src='img/devScreen.svg')
          .col-sm-4.col-md-offset-1.col-sm-pull-6
            h4.padding Build what you need.
            p
              | I use the latest technologies to ensure your website will look great both on descktop and mobile.


    section#i-can-help
      .container.padding-contact
        .row
          .col-sm-12.text-center
            h3.padding-ICanHelp I can help
        .row
          .col-sm-6.col-sm-offset-3.text-center
            p
              | If you have a project you care about I would love to talk to you!
            p.btn-hldr
              a.main-btn.email-lnk(href='mailto:girlcodesign@gmail.com')
                | let's get in touch!
                i.email
      // footer
      footer
       .container
         .row.text-center
           .col-sm-4
           .col-sm-4
             ul.list-inline.social-buttons
               li
                 a(href='https://www.behance.net/angi007', ,='', target='_blank')
                   img.icon-size-be(src='img/behance.svg')
               li
                 a(href='https://twitter.com/girlco007', ,='', target='_blank')
                   img.icon-size(src='img/twitter.svg')
               li
                 a(href='https://www.linkedin.com/in/angelika-gaszczyk-5885a7121', ,='', target='_blank')
                   img.icon-size(src='img/linkedin-logo.svg')
           .col-sm-3
             ul.list-inline.arrow
               li
                 a(href='#top')
                   i.fa.fa-chevron-up.fa-inverse
                   
         .row.text-center
           .col-sm-8.col-sm-offset-2
             p.fo
              |Website designed and developed by Angelika Gaszczyk using Bootstrap and Node.

        
