extends layout

block content
  .body-size
      section#top
        // Navigation
        nav.navbar.navbar-default.navbar-fixed-top
          .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header.page-scroll
              img.avatar(src='img/me-avatar.svg')
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#page-top')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.hidden
                  a(href='#page-top')
                li.page-scroll
                  a(href='/', style='margin-top: 30px; padding-right: 20px') About
                li.page-scroll
                  a(href='#example', style='margin-top: 30px; padding-right: 20px') Portfolio
                li.page-scroll(style='margin-top: 30px; padding-right: 20px')
                  a(href='#i-can-help') Contact
            // /.navbar-collapse
          // /.container-fluid
        // Header
      header
        .masthead.mastheadPortfolio
          .container
            .row.text-center
              .col-sm-12
                img.img-responsive.spaceship(src='img/spaceship.svg')
                
                
      // say hi!              
    section
      .container
        .row.text-center
          .col-sm-12
            h2.upto What I've been up to
        .row
          .col-sm-6.col-sm-offset-3.text-center
            p.up
              | Check out a few sample projects below, or visit 
              a.link(href='https://www.behance.net/angi007', ,='', target='_blank') behance 
              | & my  
              a.link(href='https://twitter.com/girlco007', ,='', target='_blank') twitter
              |  to see more.
      
      
      // what I do 
        // studio
    section#example7.work-shots
      .container
        .row
          .col-sm-12
            .shot
              img.img-responsive.just.screenSize(src='img/screens/studio.jpg')
        .row
          .col-sm-6.col-sm-offset-3.text-center
            h3.title.titleExample7 a&b&c
            h4.subtitle.subtitleExample7 design studio 
            p.p
              |Recently I worked on a concept of the website for a design studio. 
              |I have developed a visual design and a logo. I have chosen, and retouch 
              |stock images and produced beautiful pastel palette with some stronger accents.
            p.btn-hldr
              a.btnExample7(href='https://www.behance.net/gallery/44860534/Design-Studio-website-concept', ,='', target='_blank')
                 | view  
                 
        // crumbs
    section#example5.work-shots
      .container
        .row
          .col-sm-12
            .shot
              img.img-responsive.just.screenSize(src='img/screens/Crumbs.jpg')
        .row
          .col-sm-6.col-sm-offset-3.text-center
            h3.title.titleExample5 Crumbs
            h4.subtitle.subtitleExample5 bakery 
            p.p
              |I've designed a website and developed a  logo for a small bakery.
              |The business is own by young people with a new perspective on baking goods. 
              |To reflect that I have used photographs with a mix of warm and cold tones wich 
              |reflects an atmosphere of this place.
            
               
            p.btn-hldr
              a.btnExample5(href='https://www.behance.net/gallery/44792515/Bakery-website-concept', ,='', target='_blank')
                | view  
                 
         // house
     section#example4.work-shots
       .container
         .row
           .col-sm-12
             .shot
               img.img-responsive.just.screenSize(src='img/screens/theHouse.jpg')
         .row
           .col-sm-6.col-sm-offset-3.text-center
             h3.title.titleExample4 The House
             h4.subtitle.subtitleExample4 restaurant
             p.p

                
             p.btn-hldr
               a.btnExample4(href='https://www.behance.net/gallery/41283523/The-House-Restaurant-website', ,='', target='_blank')
                  | view
                  
        // farm
    section#example6.work-shots
      .container
        .row
          .col-sm-12
            .shot
              img.img-responsive.just.screenSize(src='img/screens/farm.jpg')
        .row
          .col-sm-6.col-sm-offset-3.text-center
            h3.title.titleExample6 Rosewood Farm
            h4.subtitle.subtitleExample6 farm 
            p.p
              |I've designed concept site for a family farm.
              |I decided to implement extra information about individual products 
              |as well as the rating system. The page also uses breadcrumbs for easier navigation.
               
            p.btn-hldr
              a.btnExample6(href='https://www.behance.net/gallery/44759463/Rosenwood-Farm-website-concept', ,='', target='_blank')
                 | view
                        
          
    section#example1.work-shots
      .container
        .row
          .col-sm-12
            .shot
              img.img-responsive.just.screenSize(src='img/screens/gv.jpg')
        .row
          .col-sm-6.col-sm-offset-3.text-center
            h3.title.titleExample1 Gumvelope
            h4.subtitle.subtitleExample1 landing page
            p.p
              |I've designed and developed a marketing page for Gumvelope. 
              |I have created all the infographics, 
              |chose and retouched photos and came up with the story for the site. 
              |I have also developed the page using Bootstrap and Node.
               
            p.btn-hldr
              a.btnExample1(href='https://www.behance.net/angi007', ,='', target='_blank')
                | view 
                
                
    section#i-can-help
      .container.padding-contact
        .row
          .col-sm-12.text-center
            h3.padding-ICanHelp I can help
        .row
          .col-sm-6.col-sm-offset-3.text-center
            p
              | If you have a project you care about I would love to talk to you!
            p.btn-hldr
              a.main-btn.email-lnk(href='mailto:girlcodesign@gmail.com')
                | let's get in touch!
                i.email
      // footer
      footer
       .container
         .row.text-center
           .col-sm-4
           .col-sm-4
             ul.list-inline.social-buttons
               li
                 a(href='https://www.behance.net/angi007', ,='', target='_blank')
                   img.icon-size-be(src='img/behance.svg')
               li
                 a(href='https://twitter.com/girlco007', ,='', target='_blank')
                   img.icon-size(src='img/twitter.svg')
               li
                 a(href='https://www.linkedin.com/in/angelika-gaszczyk-5885a7121', ,='', target='_blank')
                   img.icon-size(src='img/linkedin-logo.svg')
           .col-sm-4
             ul.list-inline.arrow
               li
                 a(href='#top')
                   i.fa.fa-chevron-up.fa-inverse
                   
         .row.text-center
           .col-sm-12
             p.fo
              |Website designed and developed by Angelika Gaszczyk using Bootstrap and Node.
