extends layout

block content
  .body-size
      section#top
        // Navigation
        nav.navbar.navbar-default.navbar-fixed-top
          .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header.page-scroll
              img.avatar(src='img/me-avatar.svg')
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#page-top')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.hidden
                  a(href='#page-top')
                li.page-scroll
                  a(href='#hello', style='margin-top: 30px; padding-right: 20px') About
                li.page-scroll
                  a(href='#what-i-do', style='margin-top: 30px; padding-right: 20px') Work
                li.page-scroll(style='margin-top: 30px; padding-right: 20px')
                  a(href='#i-can-help') Contact
            // /.navbar-collapse
          // /.container-fluid
        // Header
      header
        .masthead.mastheadPortfolio
          .container
            .row.text-center
              .col-sm-12
                img.spaceship(src='img/spaceship.svg')
      // say hi!              
    section
      .container
        .row.text-center
          .col-sm-12
            h3.upto What I've been up to
        .row
          .col-sm-6.col-sm-offset-3.text-center
            p
              | Here's a selection of some recent work. For more up to 
              | the minute work you can visit me on behance or twitter.
      // what I do 
    section#what-i-do
      .container
        .row
          .col-sm-12.text-center
            h3.padding-what What I do
      .container.padding-b
        .row
          .col-sm-1
            h4.padding
          .col-sm-3
            h4.padding Design what you want
          .col-sm-4
            img.img.img-responsive(src='img/design.svg')
          .col-sm-4.text-left
            p.padding-p
              | My goals are to create a consistent design language to convey the key message. 
      .container
        .row
          .col-sm-1
            h4.padding
          .col-sm-3
            h4.padding Build what you need
          .col-sm-4
            img.img.img-responsive(src='img/dev.svg')
          .col-sm-4
            p.padding-p-p
              | I use the latest technologies to ensure your website will look great both on descktop and mobile.
    section#i-can-help
      .container.padding-contact
        .row
          .col-sm-12.text-center
            h3.padding-ICanHelp I can help
        .row
          .col-xs-6.col-xs-offset-3.text-center
            p
              | If you have a project you care about I would love to talk to you!
            p.btn-hldr
              a.main-btn.email-lnk(href='mailto:girlcodesign@gmail.com')
                | let's get in touch!
                i.email
      // footer
      footer
       .container
         .row.text-center
           .col-sm-4
           .col-sm-4
             ul.list-inline.social-buttons
               li
                 a(href='https://twitter.com/girlco007', target='_blank')
                   i.fa.fa-twitter.fa-inverse
               li
                 a(href='https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US', target='_blank')
                   i.fa.fa-linkedin.fa-inverse
               li
                 a(href='https://www.behance.net/angi007', target='_blank')
                   i.fa.fa-behance.fa-inverse
           .col-sm-4
             ul.list-inline.arrow
               li
                 a(href='#top')
                   i.fa.fa-chevron-up.fa-inverse
        
