extends layout

block content
  .body-size
      section#top
        // Navigation
        nav.navbar.navbar-default.navbar-fixed-top
          .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header.page-scroll
              img.avatar(src='img/me-avatar.svg')
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#page-top')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.hidden
                  a(href='#page-top')
                li.page-scroll
                  a(href='#hello', style='margin-top: 30px; padding-right: 20px') About
                li.page-scroll
                  a(href='#what-i-do', style='margin-top: 30px; padding-right: 20px') Work
                li.page-scroll(style='margin-top: 30px; padding-right: 20px')
                  a(href='#i-can-help') Contact
            // /.navbar-collapse
          // /.container-fluid
        // Header
      header
        .masthead.mastheadPortfolio
          .container
            .row.text-center
              .col-sm-12
                img.img-responsive.spaceship(src='img/spaceship.svg')
      // say hi!              
    section
      .container
        .row.text-center
          .col-sm-12
            h3.upto What I've been up to
        .row
          .col-sm-6.col-sm-offset-3.text-center
            p.up
              | Here's a selection of some recent work. For more up to 
              | the minute work you can visit me on behance or twitter.
      // what I do 
    section#table.work-shots
      .container
        .row
          .col-sm-12
            .shot
              img.img-responsive.just(src='img/gv-for-portfolio.jpg')
        .row
          .col-sm-6.col-sm-offset-3.text-center
            h3.title NAME
            h4.subtitle landing page
            p.p
              | I was aked by one of the startups to design and 
              | develop a landing page for their business. 
               
            p.btn-hldr
              a.btn-one(href='https://www.behance.net/gallery/38790905/Landing-page', ,='', target='_blank')
                | view on behance
    section#i-can-help
      .container.padding-contact
        .row
          .col-sm-12.text-center
            h3.padding-ICanHelp I can help
        .row
          .col-sm-6.col-sm-offset-3.text-center
            p
              | If you have a project you care about I would love to talk to you!
            p.btn-hldr
              a.main-btn.email-lnk(href='mailto:girlcodesign@gmail.com')
                | let's get in touch!
                i.email
      // footer
      footer
       .container
         .row.text-center
           .col-sm-4
           .col-sm-4
             ul.list-inline.social-buttons
               li
                 a(href='https://www.behance.net/angi007', ,='', target='_blank')
                   img.icon-size-be(src='img/behance.svg')
               li
                 a(href='https://twitter.com/girlco007', ,='', target='_blank')
                   img.icon-size(src='img/twitter.svg')
               li
                 a(href='https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US', ,='', target='_blank')
                   img.icon-size(src='img/linkedin-logo.svg')
           .col-sm-4
             ul.list-inline.arrow
               li
                 a(href='#top')
                   i.fa.fa-chevron-up.fa-inverse
